* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.heb-font {
  font-family: 'RagSans', sans-serif;
}
.width-transition {
  transition: width 300ms ease;
}
