.btn-base {
  letter-spacing: 0.1rem;
  /* line-height:3; */
  padding: 0.7rem 1rem;
  font-size: var(--fs-200);
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans';
  font-weight: bolder;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.buy-now {
  background-color: hsl(var(--action));
  box-shadow:
    0px 0px 0px 6px hsl(var(--black)),
    0px 0px 0px 8px hsl(var(--action));
}
