@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "RagSans";
  src: url("/fonts/RagSans-1.4-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RagSans";
  src: url("/fonts/RagSans-1.4-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RagSans";
  src: url("/fonts/RagSans-1.4-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "RagSans", sans-serif;
}
